<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Name', 'Difference'],
		<% @gems.each{|gem| %>['<%= gem[:name] %>', <%= gem[:rank_diff] %>],
		<% }%>
		]);

		var options = {
			title: '<%= @chart_title %>',
			vAxis: {title: 'Gems',  titleTextStyle: {color: 'bc0800'}},
			hAxis: {baseline: 0},
			colors: ['bc0800'],
			chartArea: {height: 500}
		};

		var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
		chart.draw(data, options);
	}
</script>

<div class="container">
	<%= erb :_header %>

	<hr>

	<div class="jumbotron">
		<h1><%= @ranking_name %></h1>
		<p class="lead"><%= @ranking_description %></p>
	</div>

	<hr>

	<div class="row-fluid marketing">
		<div class="span12">
			<div id="chart_div" style="width: 940px; height: 600px;"></div>
			<p><em class="number"><%= @start %></em>-<em class="number"><%= @end %></em> of all <em class="number"><%= comma(@count) %></em> gems.</p>
			<table class="table table-striped">
				<tr><th>Rank</th><th>Diff</th><th>Daily Rank</th><th>Total Rank</th><th>Name</th><th>Summary</th></tr>
				<% @gems.each{|gem| %>
				<tr><td class="right"><%= comma(gem[:rank]) %></td><td class="right"><%= comma_pm(gem[:rank_diff]) %></td><td class="center"><%= comma(gem[:daily_rank]) %></td><td class="center"><%= comma(gem[:total_rank]) %></td><td><a href="/gems/<%= gem[:name]%>"><%= gem[:name] %></a></td><td><%= gem[:summary] %></td></tr>
				<% } %>
			</table>
			<div style="font-size:18px;" class="text-center pagination">
				<% pager = Pager.new(@path, @opts, @range, @page) %>
				<ul>
				<%= pager.previous(@page - 1) %>
				<% pager.each{|elm| %>
				  <%= elm %>
				<% } %>
				<%= pager.next(@page + 1) %>
				</ul>
			</div>
		</div>
	</div>
	<%= erb :_banner %>
</div>
