<div class ="container">
  <div id="title-pane">
    <h1><%= @gem_name %></h1>
    <div id="gem-summary">
      <div><%= @gem_summary %></div>
      <div><a href="https://rubygems.org/gems/<%= @gem_name%>">https://rubygems.org/gems/<%= @gem_name%></a></div>
    </div>
    <div class="row info">
      <div class="one-half column">
        <h3>Total</h3>
        <div>Ranking: <span class="this-gem"><%= comma(@total_rank) %></span> of <%= comma(@total_count) %></div>
        <div>Downloads: <%= comma(@total_downloads) %></div>
      </div>
      <div class="one-half column">
        <h3>Daily</h3>
        <div>Ranking: <span class="this-gem"><%= comma(@daily_rank) %></span> of <%= comma(@daily_count) %></div>
        <div>Downloads: <%= comma(@daily_downloads) %></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="trends">
    <h4>Downloads Trends</h4>
    <div>
      <canvas id="downloads-trends-chart"></canvas>
    </div>
  </div>

  <div class="trends">
    <h4>Ranking Trends</h4>
    <div>
      <canvas id="ranking-trends-chart"></canvas>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script>
'use strict';

var downloads_labels = <%= downloads_labels(@downloads_trends) %>;
var total_downloads = <%= downloads_total_data(@downloads_trends) %>;
var daily_downloads = <%= downloads_daily_data(@downloads_trends) %>;

var ranking_labels = <%= ranking_labels(@ranking_trends) %>;
var total_ranking = <%= ranking_total_data(@ranking_trends) %>;
var daily_ranking = <%= ranking_daily_data(@ranking_trends) %>;

var chart_color_total = '#ED402E';
var chart_color_daily = '#FC896D';

var downloads_data = {
  labels: downloads_labels,
  datasets: [
  {
    label: "Total Downloads",
    borderColor: chart_color_total,
    backgroundColor: chart_color_total,
    fill: false,
    pointRadius: 0,
    borderWidth: 2,
    data: total_downloads,
    yAxisID: "y-axis-1",
  },
  {
    label: "Daily Downloads",
    borderColor: chart_color_daily,
    backgroundColor: chart_color_daily,
    pointRadius: 0,
    borderWidth: 1,
    fill: false,
    data: daily_downloads,
    yAxisID: "y-axis-2"
  }]
};

var ranking_data = {
  labels: ranking_labels,
  datasets: [
  {
    label: "Total Ranking",
    borderColor: chart_color_total,
    backgroundColor: chart_color_total,
    fill: false,
    pointRadius: 0,
    borderWidth: 2,
    data: total_ranking,
    yAxisID: "y-axis-1",
  },
  {
    label: "Daily Ranking",
    borderColor: chart_color_daily,
    backgroundColor: chart_color_daily,
    pointRadius: 0,
    borderWidth: 1,
    fill: false,
    data: daily_ranking,
    yAxisID: "y-axis-2"
  }]
};

function draw_downloads_chart() {
  var ctx = document.getElementById("downloads-trends-chart").getContext("2d");
  window.downloads_line = Chart.Line(ctx, {
    data: downloads_data,
    options: {
      responsive: true,
      hoverMode: 'index',
      stacked: false,
      title:{
        display: true,
        text:'Downloads Trends'
      },
      scales: {
        yAxes: [{
          type: "linear",
          display: true,
          position: "left",
          id: "y-axis-1",
          ticks: {
            reverse: false
          },

        }, {
          type: "linear",
          display: true,
          position: "right",
          id: "y-axis-2",
          ticks: {
            reverse: false
          },
          gridLines: {
            drawOnChartArea: false,
          },
        }],
      },
      animation: {
        duration: 0
      }
    }
  });
};

function draw_ranking_chart() {
  var ctx = document.getElementById("ranking-trends-chart").getContext("2d");
  window.ranking_line = Chart.Line(ctx, {
    data: ranking_data,
    options: {
      responsive: true,
      hoverMode: 'index',
      stacked: false,
      title:{
        display: true,
        text:'Ranking Trends'
      },
      scales: {
        yAxes: [{
          type: "linear",
          display: true,
          position: "left",
          id: "y-axis-1",
          ticks: {
            reverse: true
          },

        }, {
          type: "linear",
          display: true,
          position: "right",
          id: "y-axis-2",
          ticks: {
            reverse: true
          },
          gridLines: {
            drawOnChartArea: false,
          },
        }],
      },
      animation: {
        duration: 0
      }
    }
  });
};

window.onload = function() {
  draw_downloads_chart();
  draw_ranking_chart();
}
</script>

<%= erb :_banner %>
