<div class ="container">
  <div id="title-pane">
    <h1><%= @gem_name %></h1>
    <div id="gem-summary">
      <div><a href="https://rubygems.org/gems/<%= @gem_name%>">https://rubygems.org/gems/<%= @gem_name%></a></div>
      <div><%= abbr(@gem_summary) %></div>
    </div>
    <div class="row info">
      <div class="one-half column">
        <div class="info-trend">
          <h3>Total</h3>
          <div>Ranking: <span class="this-gem"><%= comma(@total_rank) %></span> of <%= comma(@total_count) %></div>
          <div>Downloads: <%= comma(@total_downloads) %></div>
        </div>
      </div>
      <div class="one-half column">
        <div class="info-trend">
          <h3>Daily</h3>
          <div>Ranking: <span class="this-gem"><%= comma(@daily_rank) %></span> of <%= comma(@daily_count) %></div>
          <div>Downloads: <%= comma(@daily_downloads) %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="trends">
    <h4>Downloads Trends</h4>
    <div>
      <canvas id="downloads-trends-chart"></canvas>
    </div>
  </div>

  <div class="trends">
    <h4>Ranking Trends</h4>
    <div>
      <canvas id="ranking-trends-chart"></canvas>
    </div>
  </div>

  <div class="trends">
    <h4>Num of Versions Trends</h4>
    <div>
      <canvas id="num-of-versions-trends-chart"></canvas>
    </div>
  </div>
</div>

<div class="container">
  <div class="one-half column">
    <div class="trends">
      <h4>Popular Versions (Major)</h4>
      <canvas id="popular-versions-by-major-version-chart"></canvas>
    </div>
  </div>
  <div class="one-half column">
    <div class="trends">
      <h4>Popular Versions (Major.Minor)</h4>
      <canvas id="popular-versions-by-major-minor-version-chart"></canvas>
    </div>
  </div>
</div>

<div class="container">
  <div class="one-half column">
    <h4>Depended by</h4>
    <div>
      <table class="u-full-width">
        <thead>
          <tr><th>Rank</th><th>Downloads</th><th class="wide-column">Name</th></tr>
        </thead>
        <tbody>
          <% @depended_by.each do |d|  %>
            <tr><td><%= comma(d.total_ranking) %></td><td><%= comma(d.total_downloads) =%></td><td><a href="/gems/<%= d.name %>"><%= d.name %></a></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="one-half column">
    <h4>Depends on</h4>
    <div>
      <table class="u-full-width">
        <thead>
          <tr><th>Rank</th><th>Downloads</th><th class="wide-column">Name</th></tr>
        </thead>
        <tbody>
          <% @depends_on.each do |d|  %>
            <tr><td><%= comma(d.total_ranking) %></td><td><%= comma(d.total_downloads) =%></td><td><a href="/gems/<%= d.name %>"><%= d.name %></a></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
<script>
'use strict';

var downloads_labels = <%= downloads_labels(@downloads_trends) %>;
var total_downloads = <%= downloads_total_data(@downloads_trends) %>;
var daily_downloads = <%= downloads_daily_data(@downloads_trends) %>;

var ranking_labels = <%= ranking_labels(@ranking_trends) %>;
var total_ranking = <%= ranking_total_data(@ranking_trends) %>;
var daily_ranking = <%= ranking_daily_data(@ranking_trends) %>;

var num_of_versions_labels = <%= num_of_versions_labels(@num_of_versions_trends) %>;
var num_of_versions = <%= num_of_versions(@num_of_versions_trends) %>;

var popular_versions_by_major_version_labels = <%= popular_versions_labels(@popular_versions_by_major_version) %>;
var popular_versions_by_major_version = <%= popular_versions_data(@popular_versions_by_major_version) %>;

var popular_versions_by_major_minor_version_labels = <%= popular_versions_labels(@popular_versions_by_major_minor_version) %>;
var popular_versions_by_major_minor_version = <%= popular_versions_data(@popular_versions_by_major_minor_version) %>;

var chart_color_total = '#ED402E';
var chart_color_daily = '#FC896D';

var downloads_data = {
  labels: downloads_labels,
  datasets: [
  {
    label: "Total Downloads",
    borderColor: chart_color_total,
    backgroundColor: chart_color_total,
    fill: false,
    pointRadius: 0,
    borderWidth: 2,
    data: total_downloads,
    yAxisID: "y-axis-1",
  },
  {
    label: "Daily Downloads",
    borderColor: chart_color_daily,
    backgroundColor: chart_color_daily,
    pointRadius: 0,
    borderWidth: 1,
    fill: false,
    data: daily_downloads,
    yAxisID: "y-axis-2"
  }]
};

var ranking_data = {
  labels: ranking_labels,
  datasets: [
  {
    label: "Total Ranking",
    borderColor: chart_color_total,
    backgroundColor: chart_color_total,
    fill: false,
    pointRadius: 0,
    borderWidth: 2,
    data: total_ranking,
    yAxisID: "y-axis-1",
  },
  {
    label: "Daily Ranking",
    borderColor: chart_color_daily,
    backgroundColor: chart_color_daily,
    pointRadius: 0,
    borderWidth: 1,
    fill: false,
    data: daily_ranking,
    yAxisID: "y-axis-2"
  }]
};

var num_of_versions_data = {
  labels: num_of_versions_labels,
  datasets: [
  {
    label: "Num of Versions",
    borderColor: chart_color_total,
    backgroundColor: chart_color_total,
    fill: false,
    pointRadius: 0,
    borderWidth: 2,
    data: num_of_versions,
    yAxisID: "y-axis-1",
  }
  ]
};

var popular_versions_by_major_version_data = {
  labels: popular_versions_by_major_version_labels,
  datasets: [
  {
    label: "Total Donwloads",
    borderColor: chart_color_total,
    backgroundColor: chart_color_total,
    fill: false,
    pointRadius: 0,
    borderWidth: 2,
    data: popular_versions_by_major_version,
  }
  ]
};

var popular_versions_by_major_minor_version_data = {
  labels: popular_versions_by_major_minor_version_labels,
  datasets: [
  {
    label: "Total Donwloads",
    borderColor: chart_color_total,
    backgroundColor: chart_color_total,
    fill: false,
    pointRadius: 0,
    borderWidth: 2,
    data: popular_versions_by_major_version,
  }
  ]
};


function draw_downloads_chart() {
  var ctx = document.getElementById("downloads-trends-chart").getContext("2d");
  window.downloads_line = Chart.Line(ctx, {
    data: downloads_data,
    options: {
      responsive: true,
      hoverMode: 'index',
      stacked: false,
      title:{
        display: true,
        text:'Downloads Trends'
      },
      scales: {
        yAxes: [{
          type: "linear",
          display: true,
          position: "left",
          id: "y-axis-1",
          ticks: {
            reverse: false,
            min: 0
          },

        }, {
          type: "linear",
          display: true,
          position: "right",
          id: "y-axis-2",
          ticks: {
            reverse: false,
            min: 0
          },
          gridLines: {
            drawOnChartArea: false,
          },
        }],
      },
      animation: {
        duration: 0
      }
    }
  });
};

function draw_ranking_chart() {
  var ctx = document.getElementById("ranking-trends-chart").getContext("2d");
  window.ranking_line = Chart.Line(ctx, {
    data: ranking_data,
    options: {
      responsive: true,
      hoverMode: 'index',
      stacked: false,
      title:{
        display: true,
        text:'Ranking Trends'
      },
      scales: {
        yAxes: [{
          type: "linear",
          display: true,
          position: "left",
          id: "y-axis-1",
          ticks: {
            reverse: true
          },

        }, {
          type: "linear",
          display: true,
          position: "right",
          id: "y-axis-2",
          ticks: {
            reverse: true
          },
          gridLines: {
            drawOnChartArea: false,
          },
        }],
      },
      animation: {
        duration: 0
      }
    }
  });
};

function draw_num_of_versions_chart() {
  var ctx = document.getElementById("num-of-versions-trends-chart").getContext("2d");
  window.num_of_versions_line = Chart.Line(ctx, {
    data: num_of_versions_data,
    options: {
      responsive: true,
      hoverMode: 'index',
      stacked: false,
      title:{
        display: true,
        text:'Num of Versions Trends'
      },
      scales: {
        yAxes: [{
          type: "linear",
          display: true,
          position: "left",
          id: "y-axis-1",
          ticks: {
            reverse: false,
            min: 0
          },
        }],
      },
      animation: {
        duration: 0
      }
    }
  });
};

function draw_popular_versions_by_major_version() {
  var ctx = document.getElementById("popular-versions-by-major-version-chart").getContext("2d");
  window.popular_versions_by_major_version_line = new Chart(ctx, {
    type: 'horizontalBar',
    data: popular_versions_by_major_version_data,
    options: {
      title:{
        display: true,
        text:'Most Downloaded Major Versions'
      },
      animation: {
        duration: 0
      }
    }
  });
};

function draw_popular_versions_by_major_minor_version() {
  var ctx = document.getElementById("popular-versions-by-major-minor-version-chart").getContext("2d");
  window.popular_versions_by_major_minor_version_line = new Chart(ctx, {
    type: 'horizontalBar',
    data: popular_versions_by_major_minor_version_data,
    options: {
      title:{
        display: true,
        text:'Most Downloaded Major.Minor Versions'
      },
      animation: {
        duration: 0
      }
    }
  });
};

window.onload = function() {
  draw_downloads_chart();
  draw_ranking_chart();
  draw_num_of_versions_chart();
  draw_popular_versions_by_major_version();
  draw_popular_versions_by_major_minor_version();
}
</script>

<%= erb :_banner %>
