<div class ="container">
  <div id="title-pane">
    <h1><%= @owner.handle_for_display.capitalize %>'s Gems</h1>
    <% if @owner.gravatar_profile_url %>
      <div><a href="<%= @owner.gravatar_profile_url %>"><img alt="icon" src="<%= @owner.gravatar_image_url(144) %>"></a></div>
      <div>See profile on <a href="<%= @owner.gravatar_profile_url %>">Gravatar</a></div>
    <% else %>
      <div><img alt="icon" src="<%= @owner.gravatar_image_url(144) %>"></div>
    <% end %>
  </div>
</div>

<div class="container">
  <table class="u-full-width">
    <thead>
      <tr><th>#</th><th>Total Rank</th><th>Daily Rank</th><th>Name</th><th class="wide-column">Summary</th></tr>
    </thead>
    <tbody>
      <% @gems.each.with_index(1){|gem, i| %>
        <tr><td class="right"><%= i %></td><td class="right"><%= comma(gem.latest_total_ranking) %></td><td class="right"><%= comma(gem.latest_daily_ranking) %></td><td><a href="/gems/<%= gem.name%>"><%= gem.name %></a></td><td><%= gem.summary %></td></tr>
      <% } %>
    </tbody>
  </table>
</div>
