<div class ="container">
  <div id="title-pane">
    <h1><%= @ranking_name %></h1>
    <div class="description"><%= @ranking_description %></div>
  </div>
</div>

<div class="container">
  <div class="ranking-header">
    <em class="numeric"><%= @start %></em>-<em class="numeric"><%= @end %></em> of all <em class="numeric"><%= comma(@count) %></em> gems.
  </div>
  <table class="u-full-width">
    <thead>
      <tr><th>Rank</th><th>Downloads</th><th>Name</th><th class="wide-column">Summary</th></tr>
    </thead>
    <tbody>
      <% @gems.each{|gem| %>
        <tr><td class="right"><%= comma(gem[:ranking]) %></td><td class="right"><%= comma(gem[:downloads]) %></td><td><a href="/gems/<%= gem[:name]%>"><%= gem[:name] %></a></td><td><%= gem[:summary] %></td></tr>
      <% } %>
    </tbody>
  </table>
  <div class="pager">
    <% pager = Pager.new(@path, @opts, @range, @page) %>
    <ul>
      <%= pager.previous(@page - 1) %>
      <% pager.each{|elm| %>
        <%= elm %>
      <% } %>
      <%= pager.next(@page + 1) %>
    </ul>
  </div>
</div>

<%= erb :_banner %>
