<div class="container-narrow">
	<%= erb :_header %>
	<hr>
	<div class="span12">
		<p><em class="number"><%= @start %></em>-<em class="number"><%= @end %></em> of <em class="number"><%= comma(@count) %></em> resuts for <em class="number">"<%= @q %>"</em></p>
		<table class="table table-striped">
			<tr><th>Total Rank</th><th>Total Downloads</th><th>Name</th><th>Summary</th></tr>
			<% @gems.each{|gem| %>
			<tr><td class="right"><%= comma(gem[:ranking]) %></td><td class="right"><%= comma(gem[:downloads]) %></td><td><%= link(gem[:name]) %></td><td><%= gem[:summary] %></td></tr>
			<% } %>
		</table>
			<div style="font-size:18px;" class="text-center pagination">
				<% pager = Pager.new(@path, @opts, @range, @page) %>
				<ul>
				<%= pager.previous(@page - 1) %>
				<% pager.each{|elm| %>
				  <%= elm %>
				<% } %>
				<%= pager.next(@page + 1) %>
				</ul>
			</div>
	</div>

	<%= erb :_banner %>
</div>
