<div class="container">
  <div id="search-result">
    <div class="ranking-header">
      <em class="numeric"><%= @start %></em>-<em class="numeric"><%= @end %></em> of <em class="numeric"><%= comma(@count) %></em> resuts for search <em class="numeric">"<%= @q %>"</em>
    </div>
    <table class="u-full-width">
      <thead>
        <tr><th>Total Rank</th><th>Total Downloads</th><th>Name</th><th class="wide-column">Summary</th></tr>
      </thead>
      <tbody>
        <% @gems.each{|gem| %>
          <tr><td><%= comma(gem[:latest_total_ranking]) %></td><td><%= comma(gem[:latest_total_downloads]) %></td><td><%= link_by_gem_name(gem[:name]) %></td><td><%= gem[:summary] %></td></tr>
        <% } %>
      </tbody>
    </table>
    <div class="pager">
      <% pager = Pager.new(@path, @opts, @range, @page) %>
      <ul>
        <%= pager.previous(@page - 1) %>
        <% pager.each{|elm| %>
          <%= elm %>
        <% } %>
        <%= pager.next(@page + 1) %>
      </ul>
      <% pager = Pager.new(@path, @opts, @range, @page) %>
    </div>
  </div>
</div>

<%= erb :_banner %>
