<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Date', 'Number of Gems'],
		<% @graph.each{|e| ; d = e[:date]; %>['<%= d.strftime("%b %d, %y") %>', <%= n2n(e[:num_of_gems]) %>],
		<% }%>
		]);

		var options = {
			title: 'Number of All Gems Trends',
			colors: ['bc0800'],
			chartArea: {height: 500}
		};

		var chart = new google.visualization.LineChart(document.getElementById('trends'));
		chart.draw(data, options);
	}
</script>

<div class="container">
	<%= erb :_header %>

	<hr>

	<div class="jumbotron">
		<h1><%= @name %></h1>
		<p class="lead"><%= @summary %></p>
	</div>

	<hr>
	
	<div class="row-fluid marketing">
		<div class="span12">
			<div id="trends" style="width: 940px; height: 600px;"></div>
		</div>
	</div>

	<div class="row">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-8257359908391644";
		/* bestgems_bottom */
		google_ad_slot = "4115061810";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>
