<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Date', 'Total Downloads', 'Daily Downloads'],
		<% @graph.each{|e| ; d = e[:date]; %>['<%= d.strftime("%b %d, %y") %>', <%= n2n(e[:total_downloads]) %>, <%= n2n(e[:daily_downloads]) %>],
		<% }%>
		]);

		var options = {
			title: 'Download Trends',
			colors: ['bc0800', 'ffd5d5'],
			series: [{targetAxisIndex:1}, {targetAxisIndex:0}],
			chartArea: {height: 500}
		};

		var chart = new google.visualization.LineChart(document.getElementById('download_trends'));
		chart.draw(data, options);
	}
</script>

<div class="container">
	<%= erb :_header %>

	<hr>

	<div class="jumbotron">
		<h1><%= @name %></h1>
		<p class="lead"><%= @summary %></p>
	</div>

	<hr>
	
	<div class="row-fluid marketing">
		<div class="span12">
			<div id="download_trends" style="width: 940px; height: 600px;"></div>
		</div>
	</div>

	<%= erb :_banner %>
</div>
